<div class="pig-latin">
   <!-- Input form -->
   <pig-latin-form
      sentence="$ctrl.newSentence"
      on-add-sentence="$ctrl.addSentence($event);"></pig-latin-form>

   <!-- List of sentences -->
   <pig-latin-list
      sentence-list="$ctrl.sentences"
      limit="10"></pig-latin-list>
</div>
