.pig-latin-form {
    display: flex;
    border-bottom: 1px solid darken(#f8f8f8, 10%);

    > input[type="text"], > button[type="submit"] {
        display: block;
        padding: 1.2rem 1.5rem;
    }

    > input[type="text"] {
        flex-grow: 1;
        outline: none;
        border: none;
    }

    > button[type="submit"] {
        display: inline-block;
        position: relative;
        background-image: none;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        white-space: nowrap;
        border: none;
        border: 1px solid transparent;
        -webkit-appearance: none;
        outline: none;
        transition: all .2s ease-in;
        background-color: #61b1e4;
        color: #ffffff;
        &:hover {
            background-color: darken(#61b1e4, 10%);
        }
    }
}