html {
    font-size: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit
}

body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #4F4B4E;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    height: auto;
    min-height: 6.25rem;
}

select {
    width: 100%;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin:0;
    padding:0;
}

.app {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1rem;
}