.pig-latin-list {
    ul {
		margin: 0;
		padding: 0;
		list-style: none;
    }
    li {
    	padding: 0.7rem 1.5rem;
    	&:hover {
    		background-color: #f8f8f8;
    	}
    	.original, .converted {
			display: block;
    	}
		.original {
			font-size: 0.875rem;
			font-style: italic;
			color: lighten(#4f4b4e, 30%);
		}
    }
}