<div class="pig-latin-list">
   <ul>
     <li ng-repeat="sentence in $ctrl.sentences track by $index">
	    <span class="converted">{{ ($index + 1) + ' - ' + sentence.converted }}</span>
	    <span class="original">{{ sentence.original }}</span>
     </li>
   </ul>
</div>